---

layout: default

---

<article>
  {{ content }}
</article>

{% assign chapters = site.chapters | sort: 'order' %}
<ul>
{% for chapter in chapters %}
  <li><a href="#{{chapter.section}}">{{chapter.title}} ({{chapter.statements | size }} Vorhaben)</a></li>
{% endfor %}
</ul>
{% for chapter in chapters %}
  <section>
    <a name="{{chapter.section}}"></a>
    <header>
      <h3>
        <a href="{{ site.baseurl }}{{ chapter.url }}">
          {{ chapter.title }}
        </a>
      </h3>
    </header>
    {% if chapter.statements.size > 0 %}
    {% include statements.html statements=chapter.statements %}
    {% else %}
    Keine Vorhaben zu diesem Kapitel
    {% endif %}
  </section>
{% endfor %}